@model JobPostsListViewModel


<div class="row mt-3 mb-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form asp-controller="JobPost" asp-action="Search" method="post">
            <div class="input-group custom-search-form">
                <input name="title" type="text" class="form-control" placeholder="Search for a job..." value="@Model.SearchOptions.Title" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row mb-3">
    @foreach (var jp in Model.JobPosts)
    {
        <div class="col-sm-12 col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">@jp.Title</h3>
                    <p class="card-text">@jp.PostDate.ToString("MMM/dd/yyyy")</p>
                    <p class="card-text">@jp.City</p>
                    <p class="card-text">@jp.Description</p>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row pull-right">
    <div class="col-sm-12">
        <div page-model="@Model.PagingInfo" page-action="List"
             page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-primary"
             page-class-selected="btn-info" class="btn-group">
        </div>
    </div>
</div>
